:root {
  --transition: 2s;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

body {
  font-family: Roboto;
}

nav {
  background: #EEEEEE;
  padding: 10px 0;
  box-shadow: 0px 0px 4.5px #000;
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding-right: 20px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.main .wrapper {
  display: flex;
}

.main {
  margin-top: 38px;
}

.left-column {
  width: 35%;
}

.right-column {
  width: 65%;
}

footer {
  display: flex;
}

.main section {
  margin-bottom: 70px;
  border: 1px solid #000;
}

.avatar-image{
  border-radius: 150px;
}

.email-link {
  color: #000000;
}

.name-title {
  background: #000;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 305px;
  text-align: center;
}

.foto {
  text-align: center;
}

.right-column h3 {
  text-transform: uppercase;
  display: inline;
  background: #000;
  color: #fff;
  padding: 0 10px;
}