body {
  font-family: sans-serif;
}

footer {
  margin: 0 auto;
  width: 320px;
  display: flex;
}

.main {
  margin: 0 auto;
  width: 320px;
}

.main section {
  margin-bottom: 10px;
}

.text-align-center {
  text-align: center;
}

.avatar-image {
  border-radius: 150px;
}

.email-link {
  color: #000000;
}